.container {
text-align: center;
}

h1 {
  letter-spacing: 10px;
  color: white;
  text-shadow: black 2px 3px 4px;
}
h2, h3, p {
  color: white;
  text-shadow: black 1px 2px 3px;
}

button {
  /* background-color: rgba(0, 23, 92, 0.4) */
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-shadow: white 1px 1px 3px;
  border-radius: 10px;
}

#result {
  display: none;
  /* border: 1px solid lightgrey; */
  border-radius: 10px;
  padding: 25px;
  padding-top: 15px;
  color: white;
  /* background-color: rgba(0, 23, 92, 0.4); */
  background-color: rgba(0, 0, 0, 0.5);
}

#question1, #question2, #question3 {
  /* display: none; */
  /* border: 1px solid lightgrey; */
  border-radius: 10px;
  text-align: left;
  padding: 25px;
  padding-top: 10px;
  /*setting alpha = 0.3*/
  /* background: rgba(0, 23, 92, 0.4); */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  /* border-color: rgba(0, 23, 92); */

}

body {
background: #0091FF;
background: -moz-linear-gradient(left, #0091FF 0%, #0236B3 46%, #000963 100%);
background: -webkit-linear-gradient(left, #0091FF 0%, #0236B3 46%, #000963 100%);
background: linear-gradient(to right, #0091FF 0%, #0236B3 46%, #000963 100%);
}
